<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/expenses-chart/details/">Details</a>
    <form method="post">
      {% csrf_token %}
      <label for="money">Гривні</label>
      <input type="number" name="money" placeholder="{{ money }}" value="{{ money }}">
      <br>
      <label for="cents">Копійки</label>
      <input type="number" name="cents" placeholder="{{ cents }}" value="{{ cents }}">
      <br>
      <label for="date">Дата</label>
      <br>
      <input type="date" name="date" value="{{ date }}">
      <br>
      <label for="comment">Комментарій</label>
      <br>
      <input type="text" name="comment" value="{{ data.description }}">
      <br>
      <input type="submit" name="Submit" value="Змінити">
    </form>
</body>
</html>