{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Money Spending</title>
</head>
<body>
    <a href="expenses-chart/">Chart</a>
    <a href="user/info">User</a><br>
    <img src="{% static 'cat.jpg' %}" alt="Cat" style="padding-left: 100px">
</body>
</html>