<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/expenses-chart/">Chart</a>
    <form method="post">
        {% csrf_token %}
        <p>Додати продукт з лімітом</p>
        <label for="product">Продукт</label><br>
        <input type="text" name="product"><br>

        <label for="amount">Ціна продукта</label><br>
        <input type="number" name="amount"><br>

        <label for="limit">Виділені кошти</label><br>
        <input type="number" name="limit"><br>

        <label for="description">Опис</label><br>
        <input type="text" name="description" placeholder="(not necessary)"><br>

        <label for="date">Дата з якої почнеться ліміт(за замовчуванням: поточна дата)</label><br>
        <input type="date" name="date"><br>

        <label for="time_to_limit">Ліміт на кількість часу:</label>
                <select name="time" id="time">
                  <option value="month">month</option>
                  <option value="year">year</option>
                </select><br>

        <input type="submit" name="Submit">
    </form>
</body>
</html>